obj
Library
Temp
AndroidExport/Roulette Game/assets
AndroidExport/Roulette Game/bin
AndroidExport/Roulette Game/gen
AndroidExport/COM_Version
*.apk
*.csproj
*.sln
*.sdf
*.suo
*.ipch
libs/
bin/
EncryChip/Debug/
EncryChip/Release/
EncryChip/EncryChip/Debug/
EncryChip/EncryChip/Release/
UsbWrapper/Debug/
UsbWrapper/Release/
UsbWrapper/UsbWrapper/Debug/
UsbWrapper/UsbWrapper/Release/
UsbWrapper/UsbWrapper/x64
*.csproj
*.sln