obj
Library
Temp
AndroidExport/Roulette Game
AndroidExport/COM_Version/assets
AndroidExport/COM_Version/bin
AndroidExport/COM_Version/gen
*.apk
*.csproj
*.sln
*.sdf
*.suo
*.ipch
libs/
bin/
EncryChip/Debug/
EncryChip/Release/
EncryChip/EncryChip/Debug/
EncryChip/EncryChip/Release/
UsbWrapper/Debug/
UsbWrapper/Release/
UsbWrapper/UsbWrapper/Debug/
UsbWrapper/UsbWrapper/Release/
UsbWrapper/UsbWrapper/x64
*.csproj
*.sln